@model Lexicon_LMS.Models.ActivityModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Radera Aktivitet</h1>

<h3>Är du säker på att du vill radera aktiviteten?</h3>
<br />
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityType.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera aktivitet" class="btn btn-danger btn-sm" />
        <br />
        <hr />
        <a class="btn btn-sm btn-info" asp-controller="Modules" asp-action="Details" asp-route-id="@TempData.Peek("LastModuleId")"><i class="fas fa-undo-alt"></i> Tillbaka till moduldetaljer för @TempData.Peek("LastModuleName")</a>
    </form>
</div>
