@model Lexicon_LMS.Models.Module

@{
    ViewData["Title"] = "Radera modul";
}

<h1>Radera modul</h1>

<h4>Är du säker på att du vill radera modulen?</h4>
<br />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera modul" class="btn btn-danger btn-sm" />
        <br />
        <hr />
        <a class="btn btn-sm btn-primary" asp-controller="Course" asp-action="Details" asp-route-id="@TempData.Peek("LastModuleId")"><i class="fas fa-undo-alt"></i> Tillbaka till kursdetaljer för @TempData.Peek("LastCourseName")</a>

    </form>
</div>
