@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model Lexicon_LMS.Models.Course
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Klasskompisar";

}

@if (Model != null)
{
    <div class="text-center">
        <h1>@ViewData["Rubrik"]</h1>
        <h2>@Html.DisplayFor(model => model.Description)</h2>
    </div>
    <hr />
    <div class="row">

        @if (Model.ApplicationUsers.Count > 0)
        {
            @foreach (var item in Model.ApplicationUsers)
            {
                var roll = "";
                foreach (var r in await UserManager.GetRolesAsync(item.ApplicationUser))
                {
                    roll = r.ToString();
                }
                <div class="col-xs-6 col-md-3 text-center p-3 m-2 badge-light">
                    <img data-wow-delay="1.5s" class="img-rounded wow fadeInUp w-100" src="~/img/profilePhotoPlaceholder.jpg" />
                    <h6>@Html.DisplayFor(modelItem => item.ApplicationUser.Name)</h6>
                    <p>
                        @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
                        <br />
                        (@roll.Replace("Student", "Elev").Replace("Teacher", "Lärare"))
                    </p>
                </div>
            }
        }
    </div>
}
else
{
    <br />
    <h3>@ViewData["Rubrik"]</h3>
}



