@using Microsoft.AspNetCore.Http
@model Lexicon_LMS.Models.Course

@{
    ViewData["Title"] = "Klasskompisar ";

}

<h1>Klasskompisar på @Html.DisplayFor(model => model.Description)</h1>
<div>@*
    <hr />

    @if (Model.ApplicationUsers.Count > 0)
    {
                @foreach (var item in Model.ApplicationUsers)
                { if User.Identity.<div></div>

                    string activityTitle = "";
                    foreach (var m in item.ModuleActivities)
                    {
                        activityTitle = activityTitle + "\n" + m.Name;
                    }
                    @if (activityTitle == "")
                    {
                        activityTitle = "Inga aktiviteter i " + item.Name + "!";
                    }
                    else
                    {
                        activityTitle = "Aktiviteter i " + item.Name + ": " + activityTitle;
                    }

                    <tr onclick="window.location.href='../../Modules/Details/@item.Id'">
                        <td title="Klicka för att visa detaljer & lägga till aktiviteter i modul @item.Name.">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td title="Klicka för att visa detaljer & lägga till aktiviteter i modul @item.Name.">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td title="Klicka för att visa detaljer & lägga till aktiviteter i modul @item.Name.">
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td title="Klicka för att visa detaljer & lägga till aktiviteter i modul @item.Name.">
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                        <td title="@activityTitle" align="center">
                            @Html.DisplayFor(modelItem => item.ModuleActivities.Count)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        <hr />
        <h5><i>Kursen @Model.Name har f n inga moduler!</i></h5>
    }

    <hr />

    <a class="btn btn-sm btn-info" asp-action="Index"><i class="fas fa-undo-alt"></i> Tillbaka till kurslistan</a>
</div>*@

