@model IEnumerable<Lexicon_LMS.Models.Course>

@{
    ViewData["Title"] = "Kurser";
}

<h1>Kurser</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Skapa ny kurs</a>
</p>

@{ if (TempData["newUser"] != null)
    {
        //TempData["newUser"] = "Skapade ny " + Input.Role;  //  "Skapade användaren '" + Input.Name + "' (" + Input.Role + ")";
        //TempData["newUserData"] = Input.Name + " (" + Input.Email + ")";

        <div class="alert alert-success">
            <strong>@TempData["newUser"]</strong><br />
            @TempData["newUserData"]
        </div>
    }
}

<table class="table table-hover table-condensed">
    <thead>
        <tr>
            <th title="Kursens namn">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th title="Kursbeskrivning">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th title="Kursens startdatum">
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th title="Antal moduler som ingår i kursen">
                Antal @Html.DisplayNameFor(model => model.Modules)
            </th>
            <th title="Antal studenter som är inskrivna på kursen">
                Antal @Html.DisplayNameFor(model => model.ApplicationUsers)
            </th>
            <th>

            </th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr title="Klicka för att visa dataljer & lägga till moduler." onclick="window.location.href='Courses/Details/@item.Id'">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Modules.Count)
                </td>
                <td align="right">
                    @Html.DisplayFor(modelItem => item.ApplicationUsers.Count)
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>

                </td>
            </tr>
        }
    </tbody>
</table>
